<?xml version='1.0' encoding='utf-8'?>



<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/gerenciamerenda</property>
        <property name="hibernate.connection.username">ifpe</property>
        <property name="hibernate.connection.password">ifpe</property>
         <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <mapping class="br.edu.ifpe.garanhuns.gerenciamerenda.modelo.Insumo"/>
        <mapping class="br.edu.ifpe.garanhuns.gerenciamerenda.modelo.ItemInsumo"/>
        <mapping class="br.edu.ifpe.garanhuns.gerenciamerenda.modelo.Prato"/>
        <mapping class="br.edu.ifpe.garanhuns.gerenciamerenda.modelo.Cardapio"/>
    </session-factory>
</hibernate-configuration>
